<navbar></navbar>

<div class="ui grid">

  <book-cover class="six wide column">
    <img class="ui fluid image" src="{{ $ctrl.book.cover }}">
  </book-cover>

  <book-description class="ten wide column">
    <div class="ui items">
      <div class="item">
        <div class="content">
          <h1 class="header">{{ $ctrl.book.title }}</h1>
          <author class="meta">
            by {{ $ctrl.book.author_fl }}
          </author>
          <div class="description">
            <p><strong>ISBN:</strong> {{ $ctrl.book.ISBN }}</p>
            <p><strong>Language:</strong> {{ $ctrl.book.language_main }}</p>
            <p><strong>Published:</strong> {{ $ctrl.book.publicationdate }}</p>
            <p><strong>Rating:</strong> {{ $ctrl.book.rating }}</p>
          </div>
          <div ng-if="$ctrl.book.hasreview !== '0'" class="extra">
            <i class="green check icon"></i>
            Has review
          </div>
        </div>
      </div>
    </div>
  </book-description>

</div>
