<navbar></navbar>

<div class="ui centered grid">

  <div class="eight wide column">

    <div class="ui huge fluid icon input">
      <input
        type="text"
        placeholder="Search by Title or Author"
        ng-model="query"
      >
      <i class="search icon"></i>
    </div>

    <div class="search__controls--centered">
      <div class="ui mini horizontal divided list">

        <div class="item">
          <div class="header">
            <label>
              <input
                type="radio"
                name="sortorder"
                value="-rating"
                ng-model="sortorder"
              >
              Sort by Rating
            </label>
          </div>
        </div>

        <div class="item">
          <div class="header">
            <label>
              <input
                type="radio"
                name="sortorder"
                value="title"
                ng-model="sortorder"
              >
              Sort by Title
            </label>
          </div>
        </div>

        <div class="item">
          <div class="header">
            <label>
              <input
                type="radio"
                name="sortorder"
                value="author_fl"
                ng-model="sortorder"
              >
              Sort by Author
            </label>
          </div>
        </div>

        <div class="item">
          <div class="header">
            <label>
              <input type="checkbox" ng-model="reverce">
              Reverse
            </label>
          </div>
        </div>

      </div>
    </div>

    <div class="ui relaxed link items">
      <div
        class="item"
        ng-repeat="
          book in $ctrl.books |
          filter: $ctrl.search |
          limitTo: 25 |
          orderBy: sortorder : reverce
          track by book.id
        "
        ng-if="query.length >= 2"
        ng-click="$ctrl.viewBookDetails(book.id)"
      >
        <div class="ui tiny bordered image">
          <img src="{{ book.cover }}">
        </div>
        <div class="content">
          <h1 class="header">{{ book.title }}</h1>
          <div class="meta">
            <author>by {{ book.author_fl }}</author>
          </div>
          <div class="description">
            <p>Rating: {{ book.rating }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
