<ordered-list class="ui big middle aligned relaxed divided selection list">
  <list-item
    class="item"
    ng-repeat="item in $ctrl.data"
    ng-click="$ctrl.onItemClick({id: 100, bookId: item.id})"
  >
    <span class="content">
      <span class="list-item__index">[{{ $index + 1 }}]</span>
      <span class="list-item__value">{{ item.value }}</span>
    </span>
  </list-item>
</ordered-list>
