<navbar></navbar>

<div class="ui grid">

  <div class="eight wide column">
    <h2 class="ui center aligned dividing header">
      Top Books
    </h2>
    <list
      data="$ctrl.top10Books"
      on-item-click="$ctrl.viewBookDetails(bookId)"
    />
  </div>

  <div class="eight wide column">
    <h2 class="ui center aligned dividing header">
      Top Authors
    </h2>
    <list
      data="$ctrl.top10Authors"
    />
  </div>

</div>
